<a href="https://colab.research.google.com/github/cjharsh/Colab-files-/blob/master/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List and its functions along with some programms

In [1]:
a = [1,2,3,4]
b = a
print(id(a))
print(id(b))
b.append(6)
print(id(b))
print(a)

139820031099720
139820031099720
139820031099720
[1, 2, 3, 4, 6]

In [2]:
a = [[5,4]]
b = a*2
b

[[5, 4], [5, 4]]

In [3]:
b[0][0] = 6
b

[[6, 4], [6, 4]]

In [4]:
h = [1,'hello',range(10),int]
for i in h[2]:
  print(i)
k = '12'
print(h[-1](k))

0
1
2
3
4
5
6
7
8
9
12

1. list.append(obj)
2. list.count(obj)
3. list.extend(obj)
4. list.index(obj)
5. list.insert(index, obj)



1.   list.pop(obj=list[-1])
2.   list.remove(obj)
3.   list.reverse()
4.   list.sort([func])

In [6]:
a = "abcd"
type(a) == str

True

In [8]:
data = [1,2,3,4,5,6,7,8,9,6,7,'hello','ravi']
even = []
odd = []
string = []
for i in data:
    if type(i) == str:
        string.append(i)
    if type(i) == int:
        if i%2 == 0:
            even.append(i)
        else:
            odd.append(i)
print(even)
print(odd)
print(string)

[2, 4, 6, 8, 6]
[1, 3, 5, 7, 9, 7]
['hello', 'ravi']

In [35]:
name = ['ravi','hritik','shantaNu','yash','rAvi','shantanu','bHarat','bharat']
mdata = eval(str(name).upper())
mdata

['RAVI', 'HRITIK', 'SHANTANU', 'YASH', 'RAVI', 'SHANTANU', 'BHARAT', 'BHARAT']

In [36]:
temp = []
for i in mdata:
  
  if i in temp:
    pass
  else:
    print(i,mdata.count(i))
    temp.append(i)

RAVI 2
HRITIK 1
SHANTANU 2
YASH 1
BHARAT 2

In [41]:
sd = [[1,2]]*3
sd = str(sd)
sd = eval(sd)
sd

[[1, 2], [1, 2], [1, 2]]

In [42]:
sd[0][0] = 6
sd

[[6, 2], [1, 2], [1, 2]]