<a href="https://colab.research.google.com/github/cjharsh/Colab-files-/blob/master/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **This notebook has some basic information and programms about tuples and their properties.**

In [0]:
#list
a = [1,2,3]
print(id(a))
a += [6,7] #id does not change in case of mutable
print(id(a))
a = a + [8,9] #id gets changed
print(id(a))
a.extend([12,11,23]) #id doesn't change for extend and append
print(id(a))

2390134137352
2390134137352
2390133841864
2390133841864

In [0]:
#tuple
#tuples are fixed object values, immutable
b  = (1,5,6)
print(id(b))
b += (3,3) #id gets changed in case of immutable
print(id(b))
b = b + (7,8) #id gets changed
print(id(b))

2390133379144
2390132189936
2390132139720

In [0]:
#unpack data always forms tuple
e = (3)
print(type(e))
b = (3,)
print(type(b))
c = 5,
print(type(c))
d = tuple([5,5])
print(d,type(d))
print(tuple(),type(tuple()))

<class 'int'>
<class 'tuple'>
<class 'tuple'>
(5, 5) <class 'tuple'>
() <class 'tuple'>

In [0]:
b = b + (1,6,8,7)
print(b)

(3, 1, 6, 8, 7, 1, 6, 8, 7)

In [0]:
print(b[1:3])

(1, 6)

In [0]:
t = (1,[1],0,4)
t[1][0] = 'one'
print(t)

(1, ['one'], 0, 4)

In [0]:
fruits = ("apple","banana","cherry","apple")
print(len(fruits))

4

In [0]:
t = (10,2,40,6,7)
l = sorted(t)
print(l,type(l))

[2, 6, 7, 10, 40] <class 'list'>

In [0]:
t = (10,2,40,6,7)
10 in t

True

In [0]:
c = (i*i for i in t)

In [0]:
print(c,type(c))
print(next(c))

<generator object <genexpr> at 0x0000014CC752EEB8> <class 'generator'>
1600

In [0]:
t = (10,2,4,40,4,12,15)
t = (i*i for i in t)
for i in t:
    b = next(t)
    print(i)
    print(b)  
    b = next(t)
    print(i)
    print(b)
#print(next(t)) error

100
4
100
16
1600
16
1600
144

StopIteration:

In [2]:
#Write a python program to create a tuple with numbers and print one item
#sol
num = (4,5,6,1,2,3,7,8,9)
print(num[0])

4

In [3]:
#Write a program to unpack a tuple in a several variable
s = num[0:4]
a,b,c,d = s
a

4

In [4]:
#Write a program to add an item in a tuple
T = ()
T = T + (input(),)

56

In [5]:
#Write a program to convert a tuple to a string
Tstring = str(num)
print(Tstring,type(Tstring))
#another way
tstring = ""
for i in num:
    tstring = tstring + str(i)
print(tstring,type(tstring))

(4, 5, 6, 1, 2, 3, 7, 8, 9) <class 'str'>
456123789 <class 'str'>

In [8]:
if a in num:
  print("Exist")
else:
  print("Does not exists")

Exist

In [11]:
#count number of occurence of each item 
new_t = (2,4,3,2,2,4,3,8,8,4,6)
set_s = set(new_t)

for i in set_s:
  tt =  new_t.count(i)
  if tt > 1:
    print(i,"-->",tt)

2 --> 3
3 --> 2
4 --> 3
8 --> 2

In [12]:
#convert a list into tuple
l = [1,2,4,5,2,4,7,8,3]
list_tup = tuple(l)
print(list_tup,type(list_tup))

(1, 2, 4, 5, 2, 4, 7, 8, 3) <class 'tuple'>

In [13]:
#remove an item from a tuple
ltup = list(list_tup) #converted the tuple to list
x  = int(input())
ltup.remove(x)
list_tup = tuple(ltup)
print(list_tup)
#to remove all the instances of given item, count its occurence and use remove that many times.

4
(1, 2, 5, 2, 4, 7, 8, 3)

In [19]:
list_tup

(1, 2, 5, 2, 4, 7, 8, 3)

In [20]:
item  = int(input())
d =list_tup.index(item)
print(d)

2
1

In [21]:
h = [2,4,65]
k = [3,6,4]
d = list(zip(h,k))
print(d)

[(2, 3), (4, 6), (65, 4)]

In [22]:
#Write a program to unzip a list of tuples into individual lists.
l1 = []
l2 = []
for i,j in d:
  l1.append(i)
  l2.append(j)
print(l1)
print(l2)

[2, 4, 65]
[3, 6, 4]

In [24]:
g = 'this is tuple {}'.format(list_tup)
print(g)

this is tuple (1, 2, 5, 2, 4, 7, 8, 3)

In [25]:
lis = [(4,5,6),(),(7,8),()]
for i in lis:
  if i == ():
    lis.remove(i)
print(lis)

[(4, 5, 6), (7, 8)]